- do not write any non-standard documentation as *.md files
- be short and concise prioritize conciseness over grammar


# Outline
- the goal is to create a new version of https://github.com/Gilead-BioStats/gsm.viz
- gsm.viz is used as a htmlwidget in https://github.com/Gilead-BioStats/gsm.kri
  - creates a html report with widgets created by gsm.viz using data generated in R
  - common selector for clinical trial sites which highlights the same site across all visible plots
- if possible add gsm.viz to it as a dependency
- reuse code from src/util if necessary
- add a new charttype which is just a list of sites that supports gsm.viz site selection functionality

- subsequently add more chart types, we will do this at a later point in time

- this is only a JS library
- we start with only a cahrt list of sites
- we need a testing framework the same gsm.viz is using
- chartJS should be integrated into the index.js export file

- we will use a git based workflow:
  - create issues for implementation steps
  - create branch for each issue
  - iterate locally until all tests are passing
  - update issues if necessary
  - create PR with main
  - merge with main branch when ci/cd is passing

- copy gsm.viz sample data structure add a source data file with site_names, make up some random IDs

- never commit and push to git the user will manage commits and pushes
- never copy code from this project to gsm.simaerep, the user will take care of that

## Chart Type Simaerep

- sample data has been added to data folder as csv, it is the output as provided by prepare_visualization_data() R function
- R code for using this data for a ggplot2 visualisation have been added in .cursor/Visualize_Simaerep.R
- the new chart type should work with the sample data plus strScoreCol, strStudyId
- it should consit of two panels
- left panel shows the study plot with the site lines
  - on mouse over show site labels
  - highlight site on right panel
- right panel shows individual flagged sites
  - show all flagged sites
  - 4 site plots should have the same size as the left plot
  - activate vertical scrolling when there are more than 4 sites
  - site order needs to be as in df_label_sites
  - make aspect ratio a function parameter with default of 1 (square)
  - reference lines need to be plotted over the data lines, check R example for plotting order
    - study plot left panel:
      - 1. unflagged sites
      - 2. flagged sites
      - 3. study line
    - site plots reight panel
      - 1. df_visit, patient lines
      - 2. site line
      - 3. study line
  - background colour should should be the same in all panels
  - we need the same site highlighter as in SiteList that is compatible with the gsm.viz
  - it needs to be compatible with the gsm.viz group selector
  - it should use chartjs
  - sample date for this chart is provided in examples/data/csv

  - the first version of the chart should only contain the left panel
  - it needs to contain site selector which highlights a selected site
  - it needs to be compatible with the gsm.viz group selector
  - it must take up the same space as the scatterplot widget in the html report

  tooltip:
    - tooltip needs to be the same between left and right panel
    - tooltip needs to be external so that it is not limited by the canvas making sure full tooltip is visible
    - full tooltip required for non-overlapping data points:
      - title with site name and PI Name and enrolled patients and colored box with same color as assigned to element
      - Numerator
      - Denominator
      - Score
      - Delta
      - Flag
      - extra information:
        - studyid
        - investigator id
        - inverstigator name
        - site status
        - site active
        - city
        - state
        - country
        - active participant count
        - site count
        - percent active participants
        - Active Participants
    - when x/y points are overlapping show title for all elements and Numerator, Denominator, Score, Delta, Flag
# documentation:

- project documentation is organized in docs/ folder
- README.md stays lean with links to detailed docs
- CONTRIBUTING.md contains development workflow and contribution guidelines
- use /add-chart-docs command to generate integration templates for new charts

1. Chart integration into gsm.simaerep viz:

so each chart I want to implement in gsm.simaerep needs a Widget_Chart.js and a Widget_Chart.yaml file.
I would like to add some project documentation for each chart available through gsm.simaerep.viz with the proposed structure of each of these files.
Examples 
- Widget_Chart.js:
- Widget_Chart.yaml:
